@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&display=swap');

body {
	font-family: 'Lunasima', serif;
	font-weight: 300;
	font-style: normal;
	overflow: auto;
}

body::-webkit-scrollbar {
	display: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	transition: all 0.5s ease;
}

.toaster .toast button:last-child {
	background: transparent !important;
	border: none;
	padding: 6px;
	border-radius: 9999px;
	transition: background 0.2s ease-in-out;
}

.toaster .toast button:last-child:hover {
	background: rgba(0, 0, 0, 0.1) !important;
}

@media (prefers-color-scheme: dark) {
	.toaster .toast button:last-child:hover {
		background: rgba(255, 255, 255, 0.1) !important;
	}
}

/* these are custom styling for the tiptap editor to show headings and bullet list and other things */
.nested-heading-level-1 {
	font-size: 2em;
	font-weight: bold;
	display: inline-block;
}

.nested-heading-level-2 {
	font-size: 1.5em;
	font-weight: bold;
	display: inline-block;
}

.nested-heading-level-3 {
	font-size: 1.17em;
	font-weight: bold;
	display: inline-block;
}

.nested-blockquote {
	border-left: 3px solid #ccc;
	padding-left: 1em;
	margin: 0;
	display: inline-block;
}

.ProseMirror-focused {
	outline: none;
}

.mention {
	color: #0a66c2;
	font-weight: bold;
	background-color: rgba(10, 102, 194, 0.1);
	padding: 2px 4px;
	border-radius: 4px;
}

.tiptap-bullet-list {
	list-style-type: disc;
	padding-left: 1.5rem;
	margin: 0;
}

.tiptap-bullet-list li {
	margin: 0;
	padding: 0;
}

.tiptap-editor strong {
	font-weight: bold !important;
}
